@inherits TradingViewComponentBase<FundamentalDataSettings>

<div
  @ref="@WrapperReference"
  class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <WidgetCopyright/>
</div>

@code {

  protected override string JavaScriptFileName
    => "./_content/TradingViewBlazor/Components/FundamentalData/FundamentalData.razor.js";

}