@inherits TradingViewComponentBase<FundamentalDataSettings>

<div @attributes="@WrapperAttributes">
  <div @ref="@WrapperReference" class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <WidgetCopyright ShowCopyright="@ShowCopyright" />
  </div>
</div>

@code {

  protected override string JavaScriptFileName
    => "./_content/TradingViewBlazor/Components/FundamentalData/FundamentalData.razor.js";

}