<span class="@GetClasses()" @attributes="AdditionalAttributes">
    @ChildContent
</span>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClasses()
    {
        return string.Join(" ", new[]
        {
            Class,
            "hidden",
            "items-baseline",
            "gap-x-2",
            "sm:flex"
        }.Where(c => !string.IsNullOrEmpty(c)));
    }
}
