@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" id="navmenu-toggle" />
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="@Expanded">
            <FluentNavLink 
                Icon="@(new Icons.Regular.Size20.Home())"
                Href="/"
                Match="NavLinkMatch.All">
                Home
            </FluentNavLink>

            <FluentNavLink
                Icon="@(new Icons.Regular.Size20.Add())"
                Href="/counter">
                Counter
            </FluentNavLink>

            <FluentNavLink
                Icon="@(new Icons.Regular.Size20.List())"
                Href="/weather">
                Weather
            </FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code
{
    bool Expanded { get; set; } = true;
}
