@using Microsoft.AspNetCore.Components

<nav aria-label="@AriaLabel" class="@GetClasses()" @attributes="AdditionalAttributes">
    @ChildContent
</nav>

@code {
    [Parameter] public string AriaLabel { get; set; } = "Page navigation";
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClasses()
    {
        return string.Join(" ", new[]
        {
            Class,
            "flex",
            "gap-x-2"
        }.Where(c => !string.IsNullOrEmpty(c)));
    }
}
