<div class="@GetClasses()" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClasses()
    {
        return string.Join(" ", new[]
        {
            Class,
            "flex",
            "flex-1",
            "flex-col",
            "overflow-y-auto",
            "p-4",
            "[&>[data-slot=section]+[data-slot=section]]:mt-8"
        }.Where(c => !string.IsNullOrEmpty(c)));
    }
}
