@using Microsoft.AspNetCore.Components

<h3 class="@GetClasses()" @attributes="AdditionalAttributes">
    @ChildContent
</h3>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClasses()
    {
        return string.Join(" ", new[]
        {
            Class,
            "mb-1",
            "px-2",
            "text-xs/6",
            "font-medium",
            "text-zinc-500",
            "dark:text-zinc-400"
        }.Where(c => !string.IsNullOrEmpty(c)));
    }
}
